.BrowserButtonTab {
    display: flex;
    width: 176px;
    height: 43px;
    
    .BrowserButtonTab-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 23px;

        border-radius: 11.5px;
        border: 1px solid #4c4c4c;

        background-color: #1a1a1a;
        margin: 10px 0px 0px 10px;

        .BrowserButtonTab-open-ic {
            background-image: url(../../assets/icon/ic-open.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 14px;
            height: 14px;
        }

        .BrowserButtonTab-new-ic {
            background-image: url(../../assets/icon/ic-new.png);
            background-repeat: no-repeat;
            width: 14px;
            height: 14px;
        }

        &:focus {
            outline-width: 0px;
        }
    }
}