.ButtonTab {
    width: 416px;
    height: 50px;
    display: flex;
    justify-content: stretch;

    .ButtonBox {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 48px;
        color: rgba(255,255,255,0.2);

        .ButtonText {
            font-size: 18px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .ButtonBox-processed {
        border-bottom: 2px solid #d0052c;
    }

    .ButtonBox-selected {
        color: rgba(255,255,255,1.0);
    }
}