.Playground {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;

    background-color: #181e28;
    color: #ffffff;

    font-family: NotoSans,
}