.FileTab {
    height: 38px;
    background-color: #181e28;

    .FileTab-list {
        float: left;
        padding: 0;
        margin: 16px 0 0 0;

        .FileTab-item {
            list-style-type: none;
            width: 118px;
            padding: 10px 28px 10px 28px;
            color: #414b59;
        }
    
        .FileTab-item-selected {
            // box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: #131921;
            border-top: 4px solid #740102;   
            color: #ffffff;
        }

        .FileTab-close-btn {
            width: 20px;
            height: 20px;
    
            border-radius: 11.5px;
            border: 0px solid #4c4c4c;
            background-color: #131921;
    
            margin-left: 10px;
            .FileTab-close-btn-ic {
                background-image: url('../../assets/icon/ic-close.png');
                background-repeat: no-repeat;
                background-size: 10px 10px;
                width: 10px;
                height: 10px;                
            }
        }
    }

}