.TextEditor {
    height: calc(100vh - 88px);

    .ace_cursor{
        color: white;
    }
    .ace_cursor-layer{
        color: red;
    }

    .TextEditor-editor {

        height: 100%;
        width: 100%;
        resize: none;
        background-color: #131921;
        color: #ffffff;


        &:focus {
            outline-width: 0px;
        }
    }

    pre {
        // width: em(440);
        // margin: 4em auto;
        // padding: 0.5em;
        // border-radius: .25em;
        // box-shadow: .1em .1em .5em rgba(0,0,0,.45);
        line-height: 0;
        counter-reset: line;

        span {
            display: block;
            line-height: 1.5rem;

            &:before {
                counter-increment: line;
                content: counter(line);
                display: inline-block;
                border-right: 1px solid #ddd;
                padding: 0 .5em;
                margin-right: .5em;
                color: #888
            }
        }
    }


}